/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#chart1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #000000;
    padding: 16px 32px;
    text-transform: uppercase;
}

.button:hover {background-color: #e7e7e7;}
